---
layout: default
---

<div class="home">
  <div class="ui container">

    <div class="ui left aligned very padded segment">
     <div class="ui left aligned huge header">Hi there! I'm Rob</div>
     <div id="maininfo">
       <div class = "">I'm a current Computer Engineering major with Physics minor at the University of Florida.<br>
       I have a passion for technology and enjoy "hacking" whenever I get the chance.
       </div>
     </div>
   </div>
   <div class = "ui divider"></div>
   <div class="ui center aligned basic segment">
    <div class="ui two column middle aligned very relaxed stackable grid">
      <div class="column">
        <div class="ui segment">
          <h2>Work Experience</h2>
          <div class="ui divider"></div>

          <div class = "ui divided items">
            {% for job in site.work %}
            {% if job.categories contains 'recent' %}

            <div class="item">

              <div class="image">
                <a href="{{ job.url }}" class="ui image">
                <img src="{{ site.baseurl }}/assets/images/{{ job.image }}">
              </a>
              </div>
              <div class="content">
                <a class="header">{{ job.title }}</a>
                <div class="meta">
                  <span>{{ job.role }}</span>
                </div>
                <div class="description">
                  <p>{{ job.brief }}</p>
                </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <a href = "{{ site.baseurl }}/work">
              <div class="ui big blue labeled icon button">
                <i class="building icon"></i>
                Other positions I've held
              </div>
            </a>
          </div>
        </div>
        <div class="ui vertical divider"></div>
        <div class="center aligned column">
          <div class="ui segment">
            <h2>Projects</h2>
            <div class="ui divider"></div>

            <div class = "ui divided items">
              {% for project in site.projects %}
              {% if project.categories contains 'recent' %}

              <div class="item">
                <div class="image">
                  <a href="{{project.url}}" class="image ui">
                  <img src="{{ site.baseurl }}/assets/images/{{ project.image }}">
                </a>
                </div>
                <div class="content">
                  <a class="header">{{ project.title }}</a>
                  <div class="meta">
                    <span>{{ project.role }}</span>
                  </div>
                  <div class="description">
                    <p>{{ project.brief }}</p>
                  </div>
<!--                   <div class="extra">
                    <div class="ui label">IMAX</div>
                    <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                  </div> -->
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <a href = "{{ site.baseurl }}/projects">
              <div class="ui big orange labeled icon button">
                <i class="laptop icon"></i>
                More projects I've worked on
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>

    <div class="ui three column stackable centered grid">
      <div class="four column centered row">
        <div class="column">
          <a href = "{{ site.baseurl }}/assets/resume/resume.pdf">
            <div class="ui big red basic labeled icon button">
              <i class="file pdf outline icon"></i>
              Resume
            </div>
          </a>
        </div>
        <div class="column">
          <a href = "https://linkedin.com/in/{{site.linkedin_username}}">
            <div class="ui big blue basic labeled icon button">
              <i class="linkedin icon"></i>
              LinkedIn
            </div>
          </a>
        </div>
        <div class="column">
          <a href = "https://github.com/{{site.github_username}}">
            <div class="ui big orange basic labeled icon button">
              <i class="github icon"></i>
              Github
            </div>
          </a>
        </div>
      </div>
    </div>


    <br>
  </div>
</div>
