---
layout: default
permalink: /projects/
---

<div class="projects">
  <div class="ui container">
    <div class=" ui segment">
      <h1 class="ui header">Projects</h1>
      <div class="ui divider"></div>
      <h4 class="ui block header">Projects</h4>
      <div class = "ui three stackable special cards">
        {% assign projects = site.projects | reverse %}
        {% for project in projects %}

        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a href="{{ project.url | prepend: site.baseurl }}">
                    <div class="ui inverted button">View Post</div>
                  </div>
                </a>
              </div>
            </div>
            {% if project.image %}
            <img src="{{ site.baseurl }}/assets/images/{{ project.image }}">
            {% else %}
            <img src="{{ site.baseurl }}/assets/images/inProgress.png">
            {% endif%}
          </div>
          <div class="content">
            <a class="header" href="{{ project.url | prepend: site.baseurl }}">{{ project.title}}</a>
            <div class="meta">
              <span class="date">{{ project.role }}</span>
            </div>
            <div class="list">
              {{ project.brief }}
            </div>
          </div>
          <div class="extra content">
            <!-- Add some date parsing here -->
            <div>
              <i class="calendar outline icon"></i>
              {{ project.start }} --> {{ project.end }}
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>
