<footer class="footer">
  <div class="ui inverted vertical segment">
      <div class="ui three column stackable centered grid">
      <div class="four column centered row">
        <div class="column">
          <a href = "{{ site.baseurl }}/assets/resume/resume.pdf">
            <div class="ui inverted basic labeled icon button">
              <i class="file pdf outline icon"></i>
              Resume
            </div>
          </a>
        </div>
        <div class="column">
          <a href = "https://linkedin.com/in/{{site.linkedin_username}}">
            <div class="ui inverted basic labeled icon button">
              <i class="linkedin icon"></i>
              LinkedIn
            </div>
          </a>
        </div>
        <div class="column">
          <a href = "https://github.com/{{site.github_username}}">
            <div class="ui inverted basic labeled icon button">
              <i class="github icon"></i>
              Github
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
