<footer class="footer">
  <div class="ui vertical segment">
      <div class="ui three column centered grid">
      <div class="four column centered row">
        <div class="column">
          <a href = "{{ site.baseurl }}/assets/resume/resume.pdf">
            <button class="ui mini red basic button">
              <i class="file pdf outline icon"></i>
              Resume
            </button>
          </a>
        </div>
        <div class="column">
          <a href = "https://linkedin.com/in/{{site.linkedin_username}}">
            <button class="ui mini blue basic button">
              <i class="linkedin icon"></i>
              LinkedIn
            </button>
          </a>
        </div>
        <div class="column">
          <a href = "https://github.com/{{site.github_username}}">
            <button class="ui mini black basic button">
              <i class="github icon"></i>
              Github
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
