<header class="header">
  <div id = "menu" class="ui sidebar left vertical inverted menu visible fixed overlay">
    <div class = "ui segment center aligned inverted">
      <img class = "ui centered circular small image" src = "{{ site.baseurl }}/assets/images/profile.jpg">
      <div class="ui segment inverted aligned center">
        <p class="">{{ site.self_description }}</p>
      </div>
      <hr>
    </div>

    <a class="item" href="/">
      Home
    </a>
    <a class="item" href="/projects">
      Projects
    </a>
    <a class="item" href="/education">
      Education
    </a>
    <a class="item" href="/work">Work Experience</a>
  </div>

<div id="mobileHeader" class = "ui center aligned icon header hidden">
      <img class = "ui centered circular medium image" src = "{{site.baseurl}}/assets/images/profile.jpg">
      <p class="centered">{{ site.self_description }}</p>
    </div>
    <div id = "m_menu" class="ui large menu hidden">
      <div class="ui container">
        <a class="item" href="/" {% if page.url == "/"%}class="active"{% endif %}>Home</a>
        <a class="item" href="/projects">Projects</a>
        <a class="item" href="/education">Education</a>
        <a class="item" href="/work">Work</a>
      </div>
    </div>

    
</header>
