<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape
    }}{% endif %}
  </title>
  <meta
    name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.baseurl }}/assets/semantic.min.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.baseurl }}/assets/custom.css"
  />
  <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/resume/resume.css"> -->
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script src="/assets/pace/pace.min.js"></script>
  <link href="/assets/pace/themes/minimal.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{{ site.baseurl }}/assets/semantic.min.js"></script>
  <script>
    $(function () {
      $("#resume").load("{{ site.baseurl }}/assets/resume/resume.html");
    });
  </script>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-70370619-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-70370619-1");
  </script>
  <script src="https://cdn.tailwindcss.com?plugins=typography,line-clamp,aspect-ratio,grid-cols"></script>
  <script
    src="https://kit.fontawesome.com/8b9b1b3b2d.js"
    crossorigin="anonymous"
  ></script>
  <script>
    var host = "robolsthoorn.com";
    if (window.location.host == host && window.location.protocol != "https:") {
      window.location.protocol = "https:";
    }
  </script>
  <script>
    !(function (t, e) {
      var o, n, p, r;
      e.__SV ||
        ((window.posthog = e),
        (e._i = []),
        (e.init = function (i, s, a) {
          function g(t, e) {
            var o = e.split(".");
            2 == o.length && ((t = t[o[0]]), (e = o[1])),
              (t[e] = function () {
                t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
              });
          }
          ((p = t.createElement("script")).type = "text/javascript"),
            (p.async = !0),
            (p.src =
              s.api_host.replace(".i.posthog.com", "-assets.i.posthog.com") +
              "/static/array.js"),
            (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(
              p,
              r
            );
          var u = e;
          for (
            void 0 !== a ? (u = e[a] = []) : (a = "posthog"),
              u.people = u.people || [],
              u.toString = function (t) {
                var e = "posthog";
                return (
                  "posthog" !== a && (e += "." + a), t || (e += " (stub)"), e
                );
              },
              u.people.toString = function () {
                return u.toString(1) + ".people (stub)";
              },
              o =
                "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(
                  " "
                ),
              n = 0;
            n < o.length;
            n++
          )
            g(u, o[n]);
          e._i.push([i, s, a]);
        }),
        (e.__SV = 1));
    })(document, window.posthog || []);
    posthog.init("phc_F8W5zQagmvjztqZ5Qbb9hXZBNXc9fDdTojt17VJbnR6", {
      api_host: "https://us.i.posthog.com",
      person_profiles: "always", // or 'always' to create profiles for anonymous users as well
    });
  </script>
</head>
