<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/custom.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/resume/resume.css"> -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<script src="/assets/pace/pace.min.js"></script>
  	<link href="/assets/pace/themes/minimal.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="{{ site.baseurl }}/assets/semantic.min.js"></script>
	<script> 
			$(function(){$("#resume").load("{{ site.baseurl }}/assets/resume/resume.html")}); 
    </script> 

        <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=70370619"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '70370619');
    </script>
</head>
