@media all and (max-width:630px) {

    /* then display the mobile menu */
    #menu {
        display: none;
  }
  /* change style */
  .fixed#m_menu {
      position: fixed;
  }
  #mobileHeader{
     display:block;
 }
 #main{
    padding-left: 0px;
}
}
@media all and (min-width:631px) {
    /* Hide the mobile menu */
    #m_menu {
        display: none;
    }
    /* Unhide the regular menu */
    #mobileHeader{
    	display: none;
    }

    #menu{
        display:block;
    }

    #main{
        padding-left: 260px;
        margin:0;
    }
}

.header{
    background-color: #FFF;
}

#main{
    padding-bottom: 60px;
}

#maininfo{
  font-size: 16px;
}

p{
    font-size: 16px;
}

.post-content p{
  font-size: 20px;
}

.footer { /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fade {
    transition-property: color;
    transition-timing-function: ease;
    transition-duration: .5s;
    color: black;
}

.bio {
    padding-left: .5em;
}

.top-header {
        margin-top:30vh;
        margin-bottom:50vh;
}

.cn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.paragraph {
    width: 200px;
}

.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
}