<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include header.html %}

  <div id="main" class="pusher">
    

    {{content}}

    {% include footer.html %}
  </div>
  
  <script> 

//Kept in for dynamic resizing in webpages (HONESTLY SHOULD REMOVE)
    if($(window).width() < 617){
      $('#menu').sidebar('hide');
      $('.ui.small.menu')
      .visibility({
        type   : 'fixed'
      })
      ;
    }


    $('#menu')
    .sidebar({
      dimPage: false
      ,closable: false
    });

    $(window).resize(function() {
// Detect if the resized screen is mobile or desktop width
if($(window).width() > 617) {
  console.log('desktop'); 
  $('.dimmed').removeClass("dimmed");
  $('#menu').sidebar('show');
  $('#menu').addClass("visible");
  $('#menu').removeClass("uncover");
}
else {
 console.log('mobile');
 $('#menu').sidebar('hide');
}
});
</script>

</body>

</html>
