---
layout: landing
---

<div class="mx-3 my-8 md:my-20 md:p-0 flex justify-center">
  <div class="prose font-serif">
    <header class="mb-4 flex justify-between items-center">
      <div>
        <a href="{{ site.baseurl }}/">Home</a>
        <h1 class="font-serif">{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="font-serif text-lg text-gray-500 mt-2 mb-1 font-light">{{ page.subtitle }}</h2>
        {% endif %}
        <p class="text-sm">
          <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%b %-d, %Y" }}
          </time>
          {% if page.author %} •
          <span>
            <span>{{ page.author }}</span>
          </span>
          {% endif %}
        </p>
      </div>
    </header>

    <div class="prose font-serif">{{ content }}</div>
    <br />
    <br />
    <br />
    {% assign sorted_posts = site.writing | sort: 'date' %} {% for post in
    sorted_posts %} {% if post.url == page.url %} {% assign prevIndex =
    forloop.index0 | minus: 1 %} {% assign nextIndex = forloop.index0 | plus: 1
    %} {% break %} {% endif %} {% endfor %}
    <div class="flex w-full flex-row justify-between">
      {% if prevIndex >= 0 %}
      <div class="flex flex-col">
        <a href="{{ sorted_posts[prevIndex].url | prepend: site.baseurl }}"
          >{{ sorted_posts[prevIndex].title }}</a
        >
        <div class="text-sm">
          {{ sorted_posts[prevIndex].date | date: "%b %-d, %Y" }}
        </div>
      </div>
      {% endif %}
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {% if nextIndex < sorted_posts.size %}
      <div class="flex flex-col">
        <a href="{{ sorted_posts[nextIndex].url | prepend: site.baseurl }}"
          >{{ sorted_posts[nextIndex].title }}</a
        >
        <div class="text-sm">
          {{ sorted_posts[nextIndex].date | date: "%b %-d, %Y" }}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
