---
layout: landing
---

<div class="mt-20 mb-20">
  <div class="flex justify-between items-center">
    <a href="{{ site.baseurl }}/">Home</a>
    <div class="prose font-serif">
      <header class="mb-4">
        <h1 class="font-serif">{{ page.title }}</h1>
        <p class="text-sm">
          <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%b %-d, %Y" }}
          </time>
          {% if page.author %} •
          <span>
            <span>{{ page.author }}</span>
          </span>
          {% endif %}
        </p>
      </header>

      <div class="prose font-serif">{{ content }}</div>
      <br />
      <br />
      <br />
      {% assign sorted_posts = site.writing | sort: 'date' %} {% for post in
      sorted_posts %} {% if post.url == page.url %} {% assign prevIndex =
      forloop.index0 | minus: 1 %} {% assign nextIndex = forloop.index0 | plus:
      <div class="flex justify-between">
        {% if prevIndex >= 0 %}
        <a href="{{ sorted_posts[prevIndex].url | prepend: site.baseurl }}"
          >{{ sorted_posts[prevIndex].title }}</a
        >
        <span class="text-sm"
          >{{ sorted_posts[prevIndex].date | date: "%b %-d, %Y" }}</span
        >
        {% endif %}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% if nextIndex < sorted_posts.size %}
        <a href="{{ sorted_posts[nextIndex].url | prepend: site.baseurl }}"
          >{{ sorted_posts[nextIndex].title }}</a
        >
        <span class="text-sm"
          >{{ sorted_posts[nextIndex].date | date: "%b %-d, %Y" }}</span
        >
        {% endif %}
      </div>
    </div>
  </div>
</div>
