---
layout: landing
---

<div class="mt-20 mb-20">
  <div class="flex justify-center items-center">
    <div class="prose font-serif">
      <header class="mb-4">
        <h1 class="font-serif">{{ page.title }}</h1>
        <p class="text-sm">
          <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%b %-d, %Y" }}
          </time>
          {% if page.author %} •
          <span>
            <span>{{ page.author }}</span>
          </span>
          {% endif %}
        </p>
      </header>

      <div>{{ content }}</div>
      {% assign writing = site.writing | reverse %} {% for post in writing %}
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a><br />
      {% endfor %}
    </div>
  </div>
</div>
